*{
    margin: 0;
    padding: 0;
}
.body{
    width: 100%;
    height: 100%;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    width: 100%;
    height: 10vh;
    background-color: #D1D2D4;
}


.middle{
    display: flex;
    width: 100%;
    height: 75vh;
}
.content-a{
    background-color: #8CC63F;
    width: 60%;
    height: 100%;
}
.content-b{
    background-color: #0B9444;
    width: 20%;
    height: 100%;
    order: -1;
}
.content-c{
    background-color: #F5EE31;
    width: 20%;
    height: 100%;
}


footer{
    height: 10vh;
}
.footer{
    background-color: #D1D2D4;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 450px) {
    .middle {
        display: flex;
        flex-direction: column;
    }
    .content-a{
        width: 100%;
        height: 50vh;
        order: -1;
    }
    .content-b{
        width: 100%;
        height: 25vh;
    }
    .content-c{
        width: 100%;
        height: 25vh;
    } 
}
@media screen and (min-width: 451px) and (max-width:850px) {
    .middle {
        display: flex;
        flex-wrap: wrap;
    }
    .content-a{
        width: 100vw;
        height: 50vh;
        order: -1;
    }
    .content-b{
        width: 50vw;
        height: 25vh;
    }
    .content-c{
        width: 50vw;
        height: 25vh;
    }
}