*{
    margin: 0;
    padding: 0;
}
.body{
    width: 100%;
    height: 100%;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    width: 100%;
    height: 10vh;
    background-color: #D1D2D4;
}


.middle{
    display: flex;
    width: 100%;
    height: 75vh;
}
.content-a{
    background-color: red;
    width: 75vw;
    height: 50%;
}
.content-b{
    background-color: goldenrod;
    width: 75vw;
    height: 50%;
}
.content-c{
    background-color: yellow;
    width: 25vw;
    height: 100%;
}


footer{
    height: 10vh;
}
.footer{
    background-color: #D1D2D4;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 450px) {
    .middle {
        display: flex;
        flex-direction: column;
    }
    .content-a{
        background-color: #EF4036;
        width: 100%;
        height: 25vh;
    }
    .content-b{
        background-color: #FCB040;
        width: 100%;
        height: 25vh;
    }
    .content-c{
        background-color: #F5EE31;
        width: 100%;
        height: 25vh;
    }
}
@media screen and (min-width: 451px) and (max-width:850px) {
    .content-a{
        width: 50vw;
        height: 37.5vh;
    }
    .content-b{
        width: 50vw;
        height: 37.5vh;
    }
    .content-c{
        width: 50vw;
        height: 75vh;
    }
}